<div class="col-xs-6 col-sm-4 col-md-3 product text-center" ng-repeat="product in products">
    <div class="col-md-12 product-border">
        <a href="{{ ::product.detailpageurl }}" title="{{ ::product.title }}" target="_blank">
            <img height="150" ng-src="{{ ::product.images.medium }}" alt="{{ ::product.title }}" />
        </a>
        <h4 class="price">{{ ::product.formattedprice }}</h4>
        <a href="{{ ::product.detailpageurl }}" title="{{ ::product.title }}" target="_blank">
            <p>{{ ::product.title | ellipsis:100 }}</p>
        </a>
        <a href="{{ ::product.detailpageurl }}" title="{{ ::product.title }}" target="_blank">
            <button class="btn btn-action">{{ 'shop.buy' | translate }}</button>
        </a>
    </div>
</div>

<!-- <div class="col-sm-4" ng-repeat="product in items">
    <div class="product-image-wrapper">
        <div class="single-products">
            <div class="productinfo text-center">
                <img height="190" ng-src="{{ product.images.medium }}" alt="" />
                <h2>{{ product.formattedprice }}</h2>
                <p>{{ product.title | ellipsis:40 }}</p>
                <a href ui-sref="shop.product({ categoryId: product.categoryId, productId: product.id })"
                    class="btn btn-default add-to-cart">
                    <i class="fa fa-shopping-cart"></i>Add to cart
                </a>
            </div>
        </div>
    </div>
</div> -->


<!-- tag new -->
<!-- <div class="col-sm-4">
    <div class="product-image-wrapper">
        <div class="single-products">
            <div class="productinfo text-center">
                <img src="/assets/images/home/product4.jpg" alt="" />
                <h2>$56</h2>
                <p>Easy Polo Black Edition</p>
                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
            </div>
            <div class="product-overlay">
                <div class="overlay-content">
                    <h2>$56</h2>
                    <p>Easy Polo Black Edition</p>
                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                </div>
            </div>
            <img src="/assets/images/home/new.png" class="new" alt="" />
        </div>
        <div class="choose">
            <ul class="nav nav-pills nav-justified">
                <li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                <li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
            </ul>
        </div>
    </div>
</div> -->

<!-- tag sale -->
<!-- <div class="col-sm-4">
    <div class="product-image-wrapper">
        <div class="single-products">
            <div class="productinfo text-center">
                <img src="/assets/images/home/product5.jpg" alt="" />
                <h2>$56</h2>
                <p>Easy Polo Black Edition</p>
                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
            </div>
            <div class="product-overlay">
                <div class="overlay-content">
                    <h2>$56</h2>
                    <p>Easy Polo Black Edition</p>
                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                </div>
            </div>
            <img src="/assets/images/home/sale.png" class="new" alt="" />
        </div>
        <div class="choose">
            <ul class="nav nav-pills nav-justified">
                <li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                <li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
            </ul>
        </div>
    </div>
</div> -->